
.topnavlink{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}
.topnavlink:hover{
    color: blue;
}
.carsoulimg{
    height: 530px;
    width: 80%;
}
.allcol{
    height: 560px;
    width: 100%;
    background-color: white;
}
.Htxt{
    margin-top: 70px;
}
.logofiroz{
    width: 60%;
    height: 60vh;
    padding: 40px;
    padding-left: 50px;
    margin-left: 100px;
}
.navtxt{
    font-size: medium;
}
.topbrandcard{
    width: 16rem;
}
#newaccbluespot{
height: 145px;
}
.burgmanbikesection{
    margin: 70px;
    padding: 20px;
    border-radius: 20px;
    border-style: groove;
}
.veiwmorebutton{
    padding: 8px 70px 8px 70px!important;
}
.homevideo{
    width: 100%!important;
    height: 100vh!important;
    /* background-color: red; */
}
.react-player video{
    width: 250%!important;
    height: 100vh!important;
    object-fit: cover;
}
/* .tabledata{
    width: 32rem;
    padding-left: 10px;
} */
.logotable{
    width: 100%!important;
}
.bannerfirstsection{
    width: 33%;
    height: 390px;
}
.btnbrandlogo{
    padding-left: 630px;
    padding-right: 630px;
}
.brandlogocenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
}
.Reveiwcard{
   margin-left: 25px;
   width: 17rem!important;

}
.testimonialsection{
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    border-style: groove;
}
.reviewimages{
    height: 30vh;
}

@media only screen and (max-width: 768px){
    .topnavlink{
        margin-top: 0px;
    }
    .carsoulimg{
        height: 300px;
        width: 100%;
    }
    .allcol{
        height: 280px;
    }
    .Htxt{
        margin-top: 3px;
    }
    .logofiroz{
        height: 35vh;
        padding: 10px;
        padding-left: 10px;
        margin-left: 70px;
    }
    .navtxt{
        font-size: small;
    }
    .topbrandcard{
        width: 20rem;
        margin-left: 2px;
    }
    #newaccbluespot{
        height: 200px;
        }
    .burgmanbikesection{
        margin: 10px;
        padding:8px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .veiwmorebutton{
        padding: 8px 20px 8px 20px!important;
    }
    .react-player video{
        height: 80vh!important;
        width: 100%!important;
    }
    .homevideo{
        height: 80vh!important;
        width: 100%!important;
    }
    .tabledata{
        /* width: 19rem; */
        padding-left: 2px;
    }
    .bannerfirstsection{
        width: 33%;
        height: 150px;
    }
    .brandlogocenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }
    .reviewfont{
        font-size: 20px;
    }
    .Reveiwcard{
        margin-left: 15px;
        width: 19rem!important;
        padding: 1px;
     }
     .testimonialsection{
         margin: 5px;
         padding: 10px;
         border-radius: 20px;
         border-style: groove;
     }
     .reviewimages{
        height: 15rem!important;
     }
   
}