
.carsoulimg{
    height: 530px;
    width: 80%;
}
.allcol{
    height: 560px;
    width: 100%;
}
.Htxt{
    margin-top: 70px;
}
.burgmanwhite{
    width: 100%;
}
.navtxt{
    font-size: medium;
}
.topbrandcard{
    width: 16rem;
}
.burgmanbikesection{
    margin: 70px;
    padding: 30px;
    border-radius: 20px;
    border-style: groove;
}

@media only screen and (max-width: 768px){
    .carsoulimg{
        height: 300px;
        width: 100%;
    }
    .allcol{
        height: 280px;
    }
    .Htxt{
        margin-top: 3px;
    }
    .burgmanwhite{
        width: 100%;
    }
    .navtxt{
        font-size: small;
    }
    .topbrandcard{
        width: 10rem;
    }
    .burgmanbikesection{
        margin: 15px;
        padding: 15px;
        margin-top: 10px;
    }
}